*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 
  linear-gradient(to right, rgba(16, 78, 122, 0.4), rgb(110, 190, 247, .4), rgb(50, 77, 103, .4)), url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
