*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /***BACKGROUND FOR COUNTER, FORM, LOGIN***/
  /* background-image: 
  linear-gradient(to right, rgba(16, 78, 122, 0.4), rgb(110, 190, 247, .4), rgb(50, 77, 103, .4)), url('./img/544750.jpg'); */
  /* background-position: top; */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */

  /***BACKGROUND FOR TODOLIST***/

  background-image: linear-gradient(to right, rgb(182, 104, 178), #6faeb9);

 
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

ul {
  list-style: none;
}
